@font-face {
   font-family: 'veteran typewriter';
   src: url('veteran typewriter/font.ttf');
}
@font-face {
   font-family: 'Amigos';
   src: url('Amigos/font.ttf');
}
@font-face {
   font-family: 'Sunrise International Demo';
   src: url('Sunrise International Demo/font.otf');
}
@font-face {
   font-family: 'Please write me a song';
   src: url('Please write me a song/font.ttf');
}
